<html>
  <body>
    <h1>Hello World!!</h1><br>
       Hostname  : <%= node['hostname'] %>
       IpAddress : <%= node['ipaddress'] %>
       Name      : <%= @name %>
       Memory    : <%= node['memory']['total'] %>
  </body>
</html>
